{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <img src="{% static 'images/logo.jpg' %}" alt="logo" class="logo_image">
        <a class="navbar-brand logo" href="#">Dasz Wiarę?</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Start</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Serie
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="series/main_series">Główna</a>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Wczesne chrześcijaństwo</a>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Reformacja</a>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Historia islamu</a>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Kościół Wschodu</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Tagi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Projekt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Autorzy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Publikuj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>