<div class="container pt-5">
    <div class="row">
        <div class="col-12 col-lg-8">
            {% for post in posts %}
            <a class="text-decoration-none" href="#">
                <div class="card border-0 pb-2 pb-sm-4">
                    <div class="row">
                        <div class="col-8">
                            <div class="card-body p-0">
                                <div class="pb-2 text-body ">{{post.author}}</div>
                                <h3 class="mb-1 text-body fw-bolg">{{post.title}},</h3>
                                <h5 class="text-muted fs-6">{{post.subtitle}}</h5>
                                <p class="d-none d-md-block">{{ post.content|truncatewords:20 }}</p>
                                <div class="text-muted">Opublikowany {{post.created_at|date:"d-m-Y"}}</div>
                            </div>
                        </div>
                        <div class="col-4">
                            <img src="https://picsum.photos/id/237/205/115" class="img-fluid float-end">
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="d-none d-lg-block col-4">b</div>
    </div>
    <div class="row">
        Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
        <ul class="ms-1">
            {% if page_obj.has_previous %}
            <a class="btn btn-outline-dark mb-4" href="?page=1">First</a>
            {% endif %}
            {% for page_number in page_obj.paginator.page_range %}
            {% if page_obj.number == page_number %}
            <a class="btn btn-dark mb-4" href="?page={{ page_number }}">{{ page_number }}</a>
            {% elif page_number > page_obj.number|add:'-3' or page_number > page_obj.number|add:'3' %}
            <a class="btn btn-outline-dark mb-4" href="?page={{ page_number }}">{{ page_number }}</a>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages}}">Last</a>
            {% endif %}
        </ul>
    </div>
</div>