<div class="border-bottom border-2 border-dark">
    <div class="container">
        <h2 class="main-header display-2">Histioria religii i religioznawstwo.</h2>
        <p class="fs-5 lh-1 text-muted">Jeśli zadajesz sobie czasem pytania w stylu:</p>
        <p class="fs-5 lh-1 text-muted">- ile manicheizmu jest w manicheizmie?</p>
        <p class="fs-5 lh-1 text-muted">- czym różnią się boskie esencje od boskich energii?</p>
        <p class="fs-5 lh-1 text-muted">- kim byli Karamanlidzi?</p>
        <p class="fs-5 lh-1 text-muted">- czy można popełnić męczeńską śmierć?</p>
        <p class="fs-5 lh-1 text-muted">- co wspólnego mają ze sobą rakiety kosmiczne i prawosławni mnisi?</p>
        <p class="fs-5 lh-1 text-muted">- dlaczego niektórzy Rzymianie identyfikowali się jako Persowie?</p>
        <p class="fs-5 lh-1 text-muted">- kto czekał na mesjasza zanim to było modne?</p>
        <p class="fs-5 lh-1 text-muted">to istnieje niezerowa szansa, że ta strona jest dla Ciebie.</p>
    </div>
</div>